/* montserrat-regular - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"),
    url("../fonts/montserrat-v14-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* montserrat-700 - latin */
@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"),
    url("../fonts/montserrat-v14-latin-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/montserrat-v14-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-300 - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"),
    url("../fonts/roboto-v20-latin-300.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-300.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* roboto-regular - latin */
@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto"), local("Roboto-Regular"),
    url("../fonts/roboto-v20-latin-regular.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("../fonts/roboto-v20-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

:root {
  --main-font: "Montserrat", sans-serif;
  --second-font: "Roboto", sans-serif;
}

html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}


img {
    display: block;
    max-width: 100%;
    height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.header {
  padding: 20px 0 138px 0;
  background-color: rgb(26, 25, 21);
  background-image: url(../img/bg.png);
  background-size: cover;
}

.container {
  width: 320px;
  margin: 0 auto;
}

.wrapper-button {
  display: flex;
  justify-content: center;
  margin-bottom: 116px;
}

.log-in {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  border: none;
  outline: none;
  background-color: transparent;
  padding-right: 20px;
}

.sign-up {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 14px;
  color: rgb(255, 255, 255);
  text-align: center;
  background-color: transparent;
  outline: none;
  border: 2px solid rgb(255, 255, 255);
  border-radius: 18px;
  padding: 6px 12px 6px 12px;
}

.logo {
  font-family: var(--main-font);
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 700;
  display: flex;
  justify-content: center;
  margin-bottom: 28px;
}

.title {
  font-family: var(--main-font);
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  line-height: 36px;
  margin-bottom: 10px;
}

.subtitle {
  width: 220px;
  font-family: var(--second-font);
  font-size: 18px;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 300;
  margin: 0 auto;
  margin-bottom: 14px;
}

.parther {
  font-family: var(--main-font);
  font-size: 14px;
  color: rgb(255, 255, 255);
  font-weight: 700;
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 78, 80);
  border: none;
  width: 280px;
  height: 40px;
  display: block;
  margin: 0 auto;
}

.parthers-section {
    padding: 72px 0 56px 0;
}

.title-parthers{
   font-family: var(--main-font);
   font-size: 22px;
   color: rgb( 51, 51, 51 );
   font-weight: 700;
   text-align: center;
   margin-bottom: 18px;
}

.list-item-parthers {
    margin-bottom: 28px;
}

.wrapper-img {
    width: 120px;
    margin: 0 auto;
    position: relative;
}


.wrapper-img::before {
    display: block;
    content: "";
    border:  4px solid  rgb( 255, 255, 255 );
    border-radius: 50%;
    width: 37px;
    height: 37px;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    right: 0;
    bottom: 0;
}

.wrapper-img:not(:last-child) {
    margin-bottom: 22px;
}
  
.img-parthers {
    border-radius: 50%;
}


.icon-1::before {
background-image: url(./img/icons/icon-1.png);
background-color: rgb( 255, 78, 80 );

}

.icon-2::before {
    background-image: url(./img/icons/icon-2.png);
    background-color: rgb( 255, 165, 7 );
}

.icon-3::before {
    background-image: url(./img/icons/icon-3.png);
    background-color: rgb( 28, 215, 173 );
}

  
.icon-4::before {
    background-image: url(./img/icons/icon-4.png);
    background-color: rgb( 78, 115, 219 );
}

  
.subtitle-parthers {
    font-family: var(--main-font);
    font-size: 14px;
    color: rgb( 51, 51, 51 );
    font-weight: 700;
    text-align: center;
}

.subtitle-parthers:not(:last-child) {
    margin-bottom: 18px;
}
.text-parthers {
    font-family: var(--second-font);
    font-size: 14px;
    color: rgb( 102, 102, 102 );
    text-align: center;
    font-weight: 300;
    width: 218px;
    margin: 0 auto;
}

.other {
   
    display: block;
    margin: 0 auto;
    font-family: var(--main-font);
    font-size: 14px;
    color: rgb( 255, 78, 80 );
    font-weight: 700;
    text-align: center;
    border: 2px solid rgb( 255, 78, 80 );
    border-radius: 20px;
    width: 284px;
    height: 44px;
    background-color: rgb( 255, 255, 255 );
}


  
  